*{
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: 'Ubuntu', sans-serif;
}

.fontzero{
	font-size: 0px;
}

body{
	background-color: #f0efe7;
}

.container{
	/* width: 900px; */
	width: 65.88%;
	margin: 0 auto;
}

.main_header{
	text-align: center;
	padding: 40px;
}

.main_article{
	text-align: center;
	padding: 40px;
}

.main_article{
	background-color: #fcfcfa;
	border: solid 1px #e2e0d8;
}

.main_article header p{
	margin-top: 20px;
	font-weight: 700;
}

.main_article p{
	margin-top: 10px;
	font-weight: 300;
}

.article_single{
	padding: 40px;
}

.article_single p{
	margin-top: 20px;
}

.article_single ul{
	margin: 20px 10px;
}

.article_single ul li{
	margin-top: 5px;
}

/* .form_contact{
	text-align: center;
	padding: 40px;
}

.form_contact label, .form_contact input{
	width: 700px;
}

.form_contact label p{
	margin-top: 20px;
}
.form_contact input{
	padding: 5px;
	font-size: 0.875em;
}

.form_contact textarea{
	width: 700px;
	height: 60px;
}

.form_contact .btn{
	padding: 10px 20px !important;
	font-weight: 1em;
	width: auto;
	margin-top: 10px;
} */

.form_contact{
	color: #f0efe7;
	padding: 40px;
	margin: 40px;
	background-color: #4e443c;
	border-radius: 10px;
}

.form_contact label p{
	margin-top: 20px;
}
.form_contact input{
	padding: 5px;
	font-size: 0.875em;
}

.form_contact textarea{
	height: 60px;
}

.form_contact .btn{
	padding: 10px 20px !important;
	font-weight: 1em;
	width: auto;
	margin-top: 10px;
}

.form_contact label, .form_contact input, .form_contact textarea{
	width: 100%;
	box-sizing: border-box;
}

.main_footer{
	text-align: center;
	font-weight: 300;
	font-size: 0.875em;
	color: #4e443c;
	padding: 40px;
}

@media(max-width: 45em){
	.container{
		width: 98%;
	}
}